<ion-view view-title="{{ticker}}" drag-content="false">
  <ion-nav-buttons side="right">
    <button class="button icon-left ng-style:reactiveColor" ng-class="following ? 'ion-ios-checkmark-empty' : 'ion-ios-plus'" ng-bind="following ? 'Following ' : 'Follow '" ng-click="toggleFollow()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-light" id="stock-subheader-bar">
    <div class="buttons" side="left">
      <div class="button button-clear display-flex">
        <h6 id="stock-name">{{stockPriceData.name}}</h6>
      </div>
    </div>
    <h2 class="title button-left button-right" id="stock-price">{{stockPriceData.lastPrice.toFixed(2)}}</h2>
    <div class="buttons" side="right">
      <div class="button button-clear">
        <h6 id="stock-change" ng-class="stockPriceData.percentChange < 0 ? 'assertive' : 'balanced'"><span ng-if="stockPriceData.percentChange > 0">+</span>{{stockPriceData.percentChange}}%</h6>
      </div>
    </div>
  </div>
  <ion-content class="has-subheader">
    <img ng-src="http://finviz.com/chart.ashx?t={{ticker}}&ty=c&ta=1&p=d&s=l" style="width: 100%" />
    <div class="card">
      <div class="item item-divider">Stock Data</div>
      <div class="row row-center">
        <div class="col">Prev. Close: </div>
        <div class="col">{{stockPriceData.previousClose}}</div>
        <div class="col">Open: </div>
        <div class="col">{{stockPriceData.open}}</div>
      </div>
      <div class="row row-center">
        <div class="col">Day High: </div>
        <div class="col">{{stockPriceData.high}}</div>
        <div class="col">Day Low: </div>
        <div class="col">{{stockPriceData.low}}</div>
      </div>
      <div class="row row-center">
        <div class="col">52w High: </div>
        <div class="col">{{stockPriceData.fiftyTwoWkHigh}}</div>
        <div class="col">52w Low: </div>
        <div class="col">{{stockPriceData.fiftyTwoWkLow}}</div>
      </div>
      <div class="row row-center">
        <div class="col">Volume: </div>
        <div class="col">{{stockPriceData.volume}}</div>
        <div class="col">Avg Volume: </div>
        <div class="col">{{stockPriceData.avgVolume}}</div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">News</div>
      <a class="item item-icon-right" ng-repeat="story in newsStories" ng-click="openWindow(story.link)">
        <h2>{{story.title}}</h2>
        <h6>{{story.pubDate}}</h6>
        <p>{{story.description}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
