.display-flex {
  display: flex !important;
}

.no-margin {
  margin: 0 !important;
}

#stock-subheader-bar {
  border-top: none;
}

#stock-name {
  color: #333;
  float: left;
  font-size: 3.5vmin;
  font-weight: normal;
  margin: auto 0;
  max-width: 33vw;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

#stock-price {
  font-size: 7vmin;
  line-height: 32pt;
}

#stock-change {
  font-size: 4vmin;
  font-weight: bolder;
  float: right;
  line-height: 12pt;
  margin: auto 0;
}

.margin-auto, .margin-auto svg {
  margin: auto !important;
}

.text-align-center {
  text-align: center !important;
}
